<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <title>CoppeliaSim web service</title>
    <!--<script src="https://chemwriter.com/sdk/chemwriter.js"></script>--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <!-- <link rel="stylesheet" href="https://chemwriter.com/sdk/chemwriter.css">-->
    <link rel="icon" 
          type="image/ico" 
          href="/static/favicon.ico" />
</head>